<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
    <title>Log In</title>
</head>

<body>
    
    <!-- <form method="post" style="width:50%; margin-left:20px;">
        <input type="text" name="username" class="form-control mb-3 mt-3" placeholder="username">
        <input type="password" name="password" class="form-control" placeholder="password">
        <button type="submit" class="btn btn-success mt-3">ავტორიზაცია</button>
    </form> -->
</body>

</html> -->